.app {
  text-align: center;
}

.table {
  margin: 10px auto;
  font-family: Arial, sans-serif;
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

.table__heading {
  padding: 5px;
  width: 20vw;
  border: 2px solid lightcoral;
  background-color: crimson;
}

.table__heading:first-child {
  width: 100px;
}

.table__row {
  border: 2px solid lightcoral;
  background-color: lightgoldenrodyellow;
}

.table__cell {
  padding: 5px;
  width: 20vw;
  text-align: left;
  border: 2px solid lightcoral;
}

.table__cell:first-child {
  width: 100px;
  text-align: center;
}
